.page__container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ebebeb;
}

button {
  margin-top: 2rem;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #e1e1e1;
  color: #121212;
}

.days-of-code {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 14px;
}
